# Babel build
build/*

# Logs
logs/*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# npm
npm-debug*
.npm

# Optional REPL history
.node_repl_history

# Junk
.idea
.DS_Store
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
